/*
  The original FSDark Theme for phpBB version 2+
  Created by SkaidonDesigns for Forum-Styles(dot)co(dot)uk
  http://www.skaidon.co.uk  ::  http://www.forum-styles.co.uk
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
	background-color: #333333;
scrollbar-face-color:#333333;
scrollbar-highlight-color:#000000;
scrollbar-3dlight-color:#333333;
scrollbar-darkshadow-color:#333333;
scrollbar-shadow-color:#000000;
scrollbar-arrow-color:#9EB600;
scrollbar-track-color:#333333;
	margin : 1px 0px 0px 1px;
}

.post_sticky {
		background-color: #767676;
}

.post_announce {
		background-color: #4F4F4F;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
a:link,a:active,a:visited { color : #9EB600; }
a:hover		{ color : #B6BABE; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #333333; border: 1px solid Black; }

/* This is the outline round the main forum tables */
.forumline	{ 
	border: 1px #000000 solid;	
	background-image : url(templates/FSDark/images/back.png);
	background-position : left;
	background-repeat : repeat-y; 
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	background-color : #2D2D2D;
	}

.topicline	{ 
	border: 1px #000000 solid;	
	background-image : url(templates/FSDark/images/back.png);
	background-position : left;
	background-repeat : repeat-y; 
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 4px;
	background-color : #333333;
	}

/*This is the border around the avatar */
.avatarline {
	background-color : #CCCCCC;
	border : 1px dotted Black;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	text-justify : center;
	text-align : center;
}

/* Main table cell colours and backgrounds */
td.row1	{ background-color: #333333; }
td.row2	{ background-color: #333333; }
td.row3	{ background-color: #333333; }

.admin {
	color : #9EB600;
}

.mod{
	color : #B6BABE;
}


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #333333;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #9EB600; font-size: 11px; font-weight : bold;
	background-color: #333333; height: 25px;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-color:#333333; border: #FFFFFF; border-style: solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px; }
td.row3Right,td.spaceRow {
	background-color: #333333; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { font-size: 12px; border-width: 0px 0px 0px 0px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 0px 0px 0px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 0px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 0px;}
th.thBottom,td.catBottom  { border-width:0px 0px 0px 0px; }
th.thTop	 { border-width: 0px 0px 0px 0px;}
th.thCornerL { border-width: 0px 0px 0px 0px; }
th.thCornerR { border-width: 0px 0px 0px 0px; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #8A8E94;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #8A8E94; }
a.gen,a.genmed,a.gensmall { color: #9EB600; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #B6BABE; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #8A8E94 }
a.mainmenu		{ text-decoration: none; color : #9EB600;  }
a.mainmenu:hover{ text-decoration: underline; color : #B6BABE; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #9EB600}
a.cattitle		{ text-decoration: none; color : #9EB600; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #9EB600; }
a.forumlink 	{ text-decoration: none; color : #9EB600; }
a.forumlink:hover{ text-decoration: underline; color : #B6BABE; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #8A8E94;}
a.nav			{ text-decoration: none; color : #9EB600; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #8A8E94; }
a.topictitle:link   { text-decoration: none; color : #9EB600; }
a.topictitle:visited { text-decoration: none; color : #9EB600; }
a.topictitle:hover	{ text-decoration: underline; color : #B6BABE; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #8A8E94;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #8A8E94; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;  color : #CCCCCC; }
a.postlink:link	{ text-decoration: none; color : #9EB600 }
a.postlink:visited { text-decoration: none; color : #9EB600; }
a.postlink:hover { text-decoration: underline; color : #B6BABE}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #CCCCCC; border: #000000; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; line-height: 125%;
	background-color: #CCCCCC; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #8A8E94; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	background-color : #333333;
	color : #8A8E94;
	border : 1px solid Black;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #333333;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #333333;
	color : #8A8E94;
	border : 1px solid Black;
	font-size: 11px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #333333;
	color : #8A8E94;
	border : 1px solid Black;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #333333;
	color : #8A8E94;
	border : 1px solid Black;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");
