<!-- BEGIN switch_user_logged_out -->
<form method="post" action="{S_LOGIN_ACTION}">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="center" valign="top" nowrap>     
</td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="templates/FSDark/images/front/Image2_1x2.gif"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
  <table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline">
	<tr> 
	  <td class="catHead" height="28" align="center"><a name="login"></a><span class="cattitle">{L_LOGIN_LOGOUT}</span></td>
	</tr>
	<tr> 
	  <td class="row1" align="center" valign="middle" height="28"><span class="gensmall">{L_USERNAME}: 
		<input class="post" type="text" name="username" size="10" />
		&nbsp;&nbsp;&nbsp;{L_PASSWORD}: 
		<input class="post" type="password" name="password" size="10" maxlength="32" />
		&nbsp;&nbsp; &nbsp;&nbsp;{L_AUTO_LOGIN} 
		<input class="text" type="checkbox" name="autologin" />
		&nbsp;&nbsp;&nbsp; 
		<input type="submit" class="mainoption" name="login" value="{L_LOGIN}" />
		</span> </td>
	</tr>
  </table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="templates/FSDark/images/front/Image2_1x2down.gif" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1down.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2down.gif"> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="templates/FSDark/images/front/Image2_1x2down.gif"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3down.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
{S_HIDDEN_FIELDS}</form>
<!-- END switch_user_logged_out -->
<br />
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="center" valign="top" nowrap>     
</td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="templates/FSDark/images/front/Image2_1x2.gif"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
<table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline" align="center">
  <tr> 
	<td class="catHead" colspan="2" height="28" align="center"><span class="cattitle"><a href="{U_VIEWONLINE}" class="cattitle">{L_WHO_IS_ONLINE}</a></span></td>
  </tr>
  <tr> 
	<td class="row1" align="center" valign="middle" rowspan="2"><img src="templates/FSDark/images/whosonline.gif" alt="{L_WHO_IS_ONLINE}" /></td>
	<td class="row1" align="left" width="100%"><span class="gensmall">{TOTAL_POSTS}<br />{TOTAL_USERS}<br />{NEWEST_USER}</span>
	</td>
  </tr>
  <tr> 
	<td class="row1" align="left"><span class="gensmall">{TOTAL_USERS_ONLINE} &nbsp; [ {L_WHOSONLINE_ADMIN} ] &nbsp; [ {L_WHOSONLINE_MOD} ]<br />{RECORD_USERS}<br />{LOGGED_IN_USER_LIST}</span></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1down.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2down.gif"> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3down.gif" width="14" height="14" border="0"></td>
  </tr>
</table>

<table width="100%" cellpadding="1" cellspacing="1" border="0" align="center">
<tr>
	<td align="center" valign="top"><span class="gensmall">{L_ONLINE_EXPLAIN}</span></td>
</tr>
</table>
<br />
<table width="100%" cellspacing="0" cellpadding="2" border="0" align="center" class="forumline">
  <tr> 
	<td align="left" valign="bottom"><span class="gensmall">
	<!-- BEGIN switch_user_logged_in -->
	{LAST_VISIT_DATE}<br />
	<!-- END switch_user_logged_in -->
	{CURRENT_TIME}<br /></span><span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></span></td>
	<td align="right" valign="bottom" class="gensmall">
		<!-- BEGIN switch_user_logged_in -->
		<a href="{U_SEARCH_NEW}" class="gensmall">{L_SEARCH_NEW}</a><br /><a href="{U_SEARCH_SELF}" class="gensmall">{L_SEARCH_SELF}</a><br />
		<!-- END switch_user_logged_in -->
		<a href="{U_SEARCH_UNANSWERED}" class="gensmall">{L_SEARCH_UNANSWERED}</a></td>
  </tr>
</table>
<br />
<br />
<!-- BEGIN catrow -->
<table border="0" cellpadding="0" cellspacing="0" width="40%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="center" valign="top" nowrap>     
</td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="templates/FSDark/images/front/Image2_1x2.gif"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
<table width="70%" cellpadding="2" cellspacing="2" class="forumline" height="24" align="center">
<tr>
<td align="center" height="100%" valign="middle">
<span class="gen"><b><a href="{catrow.U_VIEWCAT}" class="small">{catrow.CAT_DESC}</a></b></span>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="40%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="templates/FSDark/images/front/Image2_1x2down.gif" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1down.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2down.gif"> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="templates/FSDark/images/front/Image2_1x2down.gif"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3down.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
<br />
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="center" valign="top" nowrap>     
</td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="templates/FSDark/images/front/Image2_1x2.gif"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
<table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline" align="center">
  <tr> 
	<th colspan="2" class="thCornerL" height="25" nowrap>&nbsp;{L_FORUM}&nbsp;</th>
	<th width="50" class="thTop" nowrap>&nbsp;{L_TOPICS}&nbsp;</th>
	<th width="50" class="thTop" nowrap>&nbsp;{L_POSTS}&nbsp;</th>
	<th class="thCornerR" nowrap>&nbsp;{L_LASTPOST}&nbsp;</th>
  </tr>
  <!-- BEGIN forumrow -->
  <tr> 
	<td class="row1" align="center" valign="middle" height="50"><img src="{catrow.forumrow.FORUM_FOLDER_IMG}" width="26" height="25" alt="{catrow.forumrow.L_FORUM_FOLDER_ALT}" title="{catrow.forumrow.L_FORUM_FOLDER_ALT}" /></td>
	<td class="row1" width="100%" height="50"><span class="forumlink"> <a href="{catrow.forumrow.U_VIEWFORUM}" class="forumlink">{catrow.forumrow.FORUM_NAME}</a><br />
	  </span> <span class="genmed">{catrow.forumrow.FORUM_DESC}<br />
	  </span><span class="gensmall">{catrow.forumrow.L_MODERATOR} {catrow.forumrow.MODERATORS}</span></td>
	<td class="row2" align="center" valign="middle" height="50"><span class="gensmall">{catrow.forumrow.TOPICS}</span></td>
	<td class="row2" align="center" valign="middle" height="50"><span class="gensmall">{catrow.forumrow.POSTS}</span></td>
	<td class="row2" align="center" valign="middle" height="50" nowrap> <span class="gensmall">{catrow.forumrow.LAST_POST}</span></td>
  </tr>
  <!-- END forumrow -->
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1down.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2down.gif"> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3down.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
<br />
  <!-- END catrow -->
<table width="70%" cellspacing="0" border="0" align="center" cellpadding="2" class="forumline" align="center">
  <tr> 
	<td align="left"><span class="gensmall"><a href="{U_MARK_READ}" class="gensmall">{L_MARK_FORUMS_READ}</a></span></td>
	<td align="right"><span class="gensmall">{S_TIMEZONE}</span></td>
  </tr>
</table>
<br />
<br clear="all" />

<table cellspacing="3" border="0" align="center" cellpadding="0" class="forumline">
  <tr> 
	<td width="20" align="center"><img src="templates/FSDark/images/folder_new_big.gif" alt="{L_NEW_POSTS}"/></td>
	<td><span class="gensmall">{L_NEW_POSTS}</span></td>
	<td>&nbsp;&nbsp;</td>
	<td width="20" align="center"><img src="templates/FSDark/images/folder_big.gif" alt="{L_NO_NEW_POSTS}" /></td>
	<td><span class="gensmall">{L_NO_NEW_POSTS}</span></td>
	<td>&nbsp;&nbsp;</td>
	<td width="20" align="center"><img src="templates/FSDark/images/folder_locked_big.gif" alt="{L_FORUM_LOCKED}" /></td>
	<td><span class="gensmall">{L_FORUM_LOCKED}</span></td>
  </tr>
</table>
