 
<table class="forumline" width="100%" cellspacing="1" cellpadding="4" border="0">
	<tr> 
		<th height="25" class="thHead">{L_PREVIEW}</th>
	</tr>
	<tr> 
		<td class="row1"><img src="templates/FSDark/images/icon_minipost.gif" alt="{L_POST}" /><span class="postdetails">{L_POSTED}: {POST_DATE} &nbsp;&nbsp;&nbsp; {L_POST_SUBJECT}: {POST_SUBJECT}</span></td>
	</tr>
	<tr> 
		<td class="row1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<span class="postbody">{MESSAGE}</span>
				</td>
			</tr>
		</table></td>
	</tr>
	<tr> 
		<td class="spaceRow" height="1"><img src="templates/FSDark/images/spacer.gif" width="1" height="1" /></td>
	</tr>
</table>

<br clear="all" />
