
<table width="100%" cellspacing="2" cellpadding="2" border="0" class="forumline">
<tr> 
	<td align="left" valign="bottom" colspan="2"><a class="maintitle" href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><br /><span class="gensmall"><b><br/>{TOTAL_USERS_ONLINE}<br/>{LOGGED_IN_USER_LIST}</b></span></td>
	<td align="right" valign="bottom" nowrap><span class="gensmall"><b>{PAGINATION}</b></span></td>
</tr>
</table>
<br />
<table width="100%" cellspacing="2" cellpadding="2" border="0" class="forumline">
  <tr> 
    <td align="left" valign="bottom" nowrap><span class="nav"><a href="{U_POST_NEW_TOPIC}"><img src="{POST_IMG}" border="0" alt="{L_POST_NEW_TOPIC}" align="middle" /></a>&nbsp;&nbsp;&nbsp;<a href="{U_POST_REPLY_TOPIC}"><img src="{REPLY_IMG}" border="0" alt="{L_POST_REPLY_TOPIC}" align="middle" /></a></span></td>
    <td align="left" valign="middle" width="100%"><span class="nav">&nbsp;&nbsp;&nbsp;<a href="{U_INDEX}" class="nav">{L_INDEX}</a> 
      -> <a href="{U_VIEW_FORUM}" class="nav">{FORUM_NAME}</a></span></td>
  </tr>
</table>
<br />
<table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
  <tr align="right"> 
    <td class="catHead" colspan="2" height="28"><span class="nav"><a href="{U_VIEW_OLDER_TOPIC}" class="nav">{L_VIEW_PREVIOUS_TOPIC}</a> 
      :: <a href="{U_VIEW_NEWER_TOPIC}" class="nav">{L_VIEW_NEXT_TOPIC}</a> &nbsp;</span></td>
  </tr>
</table>
<table width="80%" cellspacing="1" cellpadding="3" border="0" align="center">
{POLL_DISPLAY} 
</table>
<br /> 
<!-- BEGIN postrow -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="center" valign="top" nowrap> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="templates/FSDark/images/front/Image2_1x2.gif"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="topicline">
  <tr> 
    <td width="150" valign="top" style="
	background-image : url(templates/FSDark/images/back.png);
	background-position : left;
	background-repeat : repeat-y;">
<table border="0" cellpadding="0" cellspacing="0" width="150" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2.gif" align="center" valign="top" nowrap> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="templates/FSDark/images/front/Image2_1x2.gif"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
      <table width="150" border="0" cellspacing="2" cellpadding="2" class="forumline" align="center">
        <tr> 
          <th class="thLeft" width="250" height="26" nowrap>{L_AUTHOR}</th>
        </tr>
        <tr> 
          <td width="150" align="left" valign="top" class="{postrow.ROW_CLASS}"> 
            <span class="name"><a name="{postrow.U_POST_ID}"></a><b><a href="javascript:emoticon('[b]{postrow.POSTER_NAME}[/b], ')">{postrow.POSTER_NAME}</a></b></span><br />
            <span class="postdetails">{postrow.POSTER_RANK}<br />
            {postrow.RANK_IMAGE}<br>
            </span> 
            <table width="1%" border="0" cellspacing="2" cellpadding="2" align="center" class="avatarline">
              <tr>
                <td align="center" valign="middle">{postrow.POSTER_AVATAR}</td>
              </tr>
            </table>
            <span class="postdetails"><br />
            {postrow.POSTER_JOINED}<br />
            {postrow.POSTER_POSTS}<br /></span>
          </td>
        </tr>
        <tr> 
          <td class="{postrow.ROW_CLASS}" width="150" align="left" valign="middle"><span class="nav"><a href="#top" class="nav">{L_BACK_TO_TOP}</a></span></td>
        </tr>
      </table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1down.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2down.gif"> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3down.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
    </td>
    <td valign="top">
      <table class="forumline" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
        <tr> 
          <th class="thRight" nowrap>{L_MESSAGE}</th>
        </tr>
        <tr> 
          <td class="{postrow.ROW_CLASS}" width="100%" height="28" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="100%"><a href="{postrow.U_MINI_POST}"><img src="{postrow.MINI_POST_IMG}" width="12" height="9" alt="{postrow.L_MINI_POST_ALT}" title="{postrow.L_MINI_POST_ALT}" border="0" /></a><span class="postdetails">{L_POSTED}: 
                  {postrow.POST_DATE}<span class="gen">&nbsp;</span>&nbsp; &nbsp;{L_POST_SUBJECT}: 
                  {postrow.POST_SUBJECT}</span></td>
                <td valign="top" align="right" nowrap>{postrow.QUOTE_IMG} {postrow.EDIT_IMG} 
                  {postrow.DELETE_IMG} {postrow.IP_IMG}</td>
              </tr>
              <tr> 
                <td colspan="2"> 
                  <hr />
                </td>
              </tr>
              <tr> 
                <td colspan="2"><span class="postbody">{postrow.MESSAGE}{postrow.NOWPLAYING}{postrow.SIGNATURE}</span>{postrow.ATTACHMENTS}<span class="gensmall">{postrow.EDITED_MESSAGE}</span></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="{postrow.ROW_CLASS}" width="100%" height="28" valign="bottom" nowrap> 
            <table cellspacing="0" cellpadding="0" border="0" height="18" width="18">
              <tr> 
                <td valign="middle" nowrap>{postrow.PROFILE_IMG} {postrow.PM_IMG} 
                  {postrow.EMAIL_IMG} {postrow.WWW_IMG} {postrow.AIM_IMG} {postrow.YIM_IMG} 
                  {postrow.MSN_IMG} 
                  <script language="JavaScript" type="text/javascript"><!-- 

	if ( navigator.userAgent.toLowerCase().indexOf('mozilla') != -1 && navigator.userAgent.indexOf('5.') == -1 )
		document.write(' {postrow.ICQ_IMG}');
	else
		document.write('</td><td>&nbsp;</td><td valign="top" nowrap="nowrap"><div style="position:relative"><div style="position:absolute">{postrow.ICQ_IMG}</div><div style="position:absolute;left:3px;top:-1px">{postrow.ICQ_STATUS_IMG}</div></div>');
				
				//--></script>
                  <noscript>{postrow.ICQ_IMG}</noscript></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="spaceRow" colspan="2" height="2"><img src="templates/subSilver/images/spacer.gif" alt="" width="1" height="1" /></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" align="left"> 
      <img name="Image20" src="templates/FSDark/images/front/Image2_1x1down.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="templates/FSDark/images/front/Image2_1x2down.gif"> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right"> 
      <img name="Image22" src="templates/FSDark/images/front/Image2_1x3down.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
<br />
<!-- END postrow -->
<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="forumline">
  <tr> 
    <form method="post" action="{S_POST_DAYS_ACTION}">
      <td align="center"><span class="gensmall">{L_DISPLAY_POSTS}: {S_SELECT_POST_DAYS}&nbsp;{S_SELECT_POST_ORDER}&nbsp; 
        <input type="submit" value="{L_GO}" class="liteoption" name="submit" />
        <br />
        </span></td>
    {S_HIDDEN_FIELDS}</form>
  </tr></td></tr>
</table>
<br />
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center" class="forumline">
  <tr> 
    <td align="left" valign="middle" nowrap><span class="nav"><a href="{U_POST_NEW_TOPIC}"><img src="{POST_IMG}" border="0" alt="{L_POST_NEW_TOPIC}" align="middle" /></a>&nbsp;&nbsp;&nbsp;<a href="{U_POST_REPLY_TOPIC}"><img src="{REPLY_IMG}" border="0" alt="{L_POST_REPLY_TOPIC}" align="middle" /></a></span></td>
    <td align="left" valign="middle" width="100%"><span class="nav">&nbsp;&nbsp;&nbsp;<a href="{U_INDEX}" class="nav">{L_INDEX}</a> 
      -> <a href="{U_VIEW_FORUM}" class="nav">{FORUM_NAME}</a></span></td>
    <td align="right" valign="top" nowrap><span class="gensmall">{S_TIMEZONE}</span><br />
      <span class="nav">{PAGINATION}</span> </td>
  </tr>
  <tr> 
    <td align="left" colspan="3"><span class="nav">{PAGE_NUMBER}</span></td>
  </tr>
</table>
<br />

<table width="100%" cellspacing="2" border="0" align="center">
  <tr> 
    <td width="40%" valign="top" nowrap align="left"> <span class="gensmall">{S_WATCH_TOPIC}</span><br />
      &nbsp;<br />
      {S_TOPIC_ADMIN} </td>
  </tr>
</table>
<br>
<table width="100%" cellspacing="2" border="0" align="center" class="forumline">
  <tr> 
    <td align="right" valign="top" nowrap width="70%"> </td>
    <td align="right" valign="top" nowrap width="30%">{JUMPBOX}<span class="gensmall">{S_AUTH_LIST}</span></td>
  </tr>
</table>
