<a name="top"></a>

<h1>{L_PAGE_TITLE}</h1>

<p>{L_PAGE_DESC}</p>

<form method="post" action="{S_RESYNC_ACTION}">

<table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th colspan="2" class="thHead">{L_PAGE_TITLE}</th>
	</tr>
	<tr>
		<td class="row2">{L_BATCH_MODE}</td>
		<td class="row2">{L_NO} <input type="radio" name="batch" value="0" checked />  {L_YES} <input type="radio" name="batch" value="1" /></td>
	</tr>
	<tr>
		<td class="row1">{L_BATCH_AMOUNT}</td>
		<td class="row1"><input type="text" name="batch_amount" value="" /></td>
	</tr>
	<tr>
		<td class="row2">{L_BATCH_NUMBER}</td>
		<td class="row2"><input type="text" name="batch_number" value="" /></td>
	</tr>
	<tr>
	  <td colspan="2" class="row1" align="center"> <span class="gensmall"><a href="{U_MODE_CHANGE}">{L_MODE_CHANGE}</a></span></td>
	</tr>
	<tr>
	  <td colspan="2" class="catBottom" align="center"><input type="hidden" name="doresync" value="1" />
		<input type="submit" name="submit" value="{L_DO_RESYNC}" class="mainoption" />
		  
		<input type="reset" value="{L_RESET}" class="liteoption" name="reset" />
	  </td>
	</tr>
</table>{S_HIDDEN_FIELDS}</form>