
<h1>{L_DATABASE_RESTORE}</h1>

<P>{L_RESTORE_EXPLAIN}</p>

<form enctype="multipart/form-data" method="post" action="{S_DBUTILS_ACTION}"><table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th class="thHead">{L_SELECT_FILE}</th>
	</tr>
	<tr>
		<td class="row1" align="center">&nbsp;<input type="file" name="backup_file">&nbsp;&nbsp;{S_HIDDEN_FIELDS}<input type="submit" name="restore_start" value="{L_START_RESTORE}" class="mainoption" />&nbsp;</td>
	</tr>
</table>{S_HIDDEN_FIELDS}</form>
