 
<table width="100%" cellpadding="4" cellspacing="0" border="0" align="center" class="bodyline">
  <tr> 
	<td align="center" ><span class="gen"><a href="http://www.skaidon.co.uk" target="_blank">Template By SkaidonDesigns</a></span></td>
  </tr>
  <tr> 
	<td align="center" >
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14" align="center">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="../templates/FSDark/images/front/Image2_1x2.gif" align="left"> 
      <img name="Image20" src="../templates/FSDark/images/front/Image2_1x1.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="../templates/FSDark/images/front/Image2_1x2.gif" align="center" valign="top" nowrap>     
</td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="../templates/FSDark/images/front/Image2_1x2.gif"> 
      <img name="Image22" src="../templates/FSDark/images/front/Image2_1x3.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
	  <table width="100%" cellpadding="4" cellspacing="1" border="0" class="forumline">
		<tr> 
		  <th height="25" class="thHead"><b>{L_ADMIN}</b></th>
		</tr>
		<tr> 
		  <td class="row1"><span class="genmed"><a href="{U_ADMIN_INDEX}" target="main" class="genmed">{L_ADMIN_INDEX}</a></span></td>
		</tr>
		<tr> 
		  <td class="row1"><span class="genmed"><a href="{U_FORUM_INDEX}" target="_parent" class="genmed">{L_FORUM_INDEX}</a></span></td>
		</tr>
		<tr> 
		  <td class="row1"><span class="genmed"><a href="{U_FORUM_INDEX}" target="main" class="genmed">{L_PREVIEW_FORUM}</a></span></td>
		</tr>
		<!-- BEGIN catrow -->
		<tr> 
		  <td height="28" class="catSides"><span class="cattitle">{catrow.ADMIN_CATEGORY}</span></td>
		</tr>
		<!-- BEGIN modulerow -->
		<tr> 
		  <td class="row1"><span class="genmed"><a href="{catrow.modulerow.U_ADMIN_MODULE}"  target="main" class="genmed">{catrow.modulerow.ADMIN_MODULE}</a></span> 
		  </td>
		</tr>
		<!-- END modulerow -->
		<!-- END catrow -->
	  </table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="14">
  <tr> 
    <td rowspan="1" colspan="1" width="1%" height="14" background="../templates/FSDark/images/front/Image2_1x2down.gif" align="left"> 
      <img name="Image20" src="../templates/FSDark/images/front/Image2_1x1down.gif" width="5" height="14" border="0"></td>
    <td rowspan="1" colspan="1" width="98%" height="14" background="../templates/FSDark/images/front/Image2_1x2down.gif"> 
    </td>
    <td rowspan="1" colspan="1" width="1%" height="14" align="right" background="../templates/FSDark/images/front/Image2_1x2down.gif"> 
      <img name="Image22" src="../templates/FSDark/images/front/Image2_1x3down.gif" width="14" height="14" border="0"></td>
  </tr>
</table>
	</td>
  </tr>
</table>

<br />
