
<!-- 

	Please note that the following copyright notice
	MUST be displayed on each and every page output
	by phpBB. You may alter the font, colour etc. but 
	you CANNOT remove it, nor change it so that it be, 
	to all intents and purposes, invisible. You may ADD 
	your own notice to it should you have altered the 
	code but you may not replace it. The hyperlink must 
	also remain intact. These conditions are part of the 
	licence this software is released under. See the 
	LICENCE and README files for more information.

	The phpBB Group : 2001

//-->

<div align="center"><span class="copyright">Powered by phpBB {PHPBB_VERSION} &copy; 2001 <a href="http://www.phpbb.com/" target="_phpbb" class="copyright">phpBB Group</a><br />
Template made by<a href="http://www.skaidon.co.uk/" target="_blank">SkaidonDesigns</a> for <a href="http://www.forum-styles.co.uk/" target="_fs">Forum-Styles(dot)co(dot)uk</a><br />{TRANSLATION_INFO}</span></div>

</body>
</html>