
<h1>{L_STYLES_TITLE}</h1>

<P>{L_STYLES_ADD_TEXT}</p>

<table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th class="thCornerL">{L_STYLE}</th>
		<th class="thTop">{L_TEMPLATE}</th>
		<th class="thCornerR">{L_ACTION}</th>
	</tr>
	<!-- BEGIN styles -->
	<tr>
		<td class="{styles.ROW_CLASS}">{styles.STYLE_NAME}</td>
		<td class="{styles.ROW_CLASS}">{styles.TEMPLATE_NAME}</td>
		<td class="{styles.ROW_CLASS}"><a href="{styles.U_STYLES_INSTALL}">{L_INSTALL}</a></td>
	</tr>
	<!-- END styles -->
</table>{S_HIDDEN_FIELDS}</form>
