
<h1>{L_STYLE_EXPORTER}</h1>

<p>{L_EXPORTER_EXPLAIN}</p>

<form method="post" action="{S_EXPORTER_ACTION}"><table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		
	<th class="thHead" align="center">{L_TEMPLATE_SELECT}</th>
	</tr>
	<tr>
		<td class="row1" align="center">{S_TEMPLATE_SELECT}&nbsp;&nbsp;<input type="submit" name="edit" value="{L_SUBMIT}" class="mainoption" />&nbsp;</td>
	</tr>
</table>{S_HIDDEN_FIELDS}</form>
