<!-- 
Easy Announce Hack 
Author: Richard Fitzgerald (richardfitzgerald85@hotmail.com)
Version: 1.0.0
Released under GPL Copyright Richard Fitzgerald
-->



<form name="newsinsert" method="post" action="{S_ACTION}">
<table width="100%" align="center" class="forumline">
<th colspan="4">Insert Event</th>
<tr><td class="row3">Title:</td><td class="row3"><input type="text" name="title"/></td><td class="row3" rowspan="5">Text:</td><td class="row3" rowspan="5"><textarea name="content" cols="50" rows="10"></textarea></td></tr>
<tr><td class="row3">Date:</td><td class="row3"><input type="text" name="edate"/></td></tr>
<tr><td class="row3">Location:</td><td class="row3"><input type="text" name="location"/></td></tr>
<tr><td class="row3">Doors:</td><td class="row3"><input type="text" name="doors"/></td></tr>
<tr><td class="row3">Flyer(url):</td><td class="row3"><input type="text" name="flyer"/></td></tr>
<tr><td class="row3" colspan="4"><center><input type="submit" name="submit" value="submit"></center></td></tr>
</table>


</form>

<br/><br/><br/>
<table width="100%" class="forumline" align="center">
<tr><td class="cat" colspan="3"><center><b>News List</b></center></td></tr>


<!-- BEGIN list -->
<tr >
<td class="row2"><span class="gen">{list.event_title}</span></td>
<td class="row2" ><span class="gen">{list.event_edate}</span></td>
</tr>
<tr >
<td class="row2"><span class="gen">{list.event_location}</span></td>
<td class="row2" ><span class="gen">{list.event_doors}</span></td>
</tr>
<tr >
<td class="row2"><span class="gen">{list.event_flyer}</span></td>
<td class="row2" ><span class="gen">{list.event_content}</span></td>
</tr>
<tr >
<td class="row2"><span class="gen">{list.event_comments}</span></td>
<td class="row2"><span class="gen">{list.event_sdate}</span></td>
</tr>
<tr><td class="row2" colspan="2"><center><a href="{list.U_delete}">Delete</a></center></td></tr>
<!-- END list -->

<th colspan="3">Easy Events Hack - Copyright Richard Fitzgerald - <a href="http://www.fitzlabs.com"><span style="color: orange">fitz</span><span style="color: purple">labs</span></th>
</table>
<br/><br/>
<table width="100%" align="center" class="forumline" cellspacing="0" cellpadding="0" border="0">
  <tr>
   <td class="row3"><span class="gen">{PAGE_NUMBER}</span></td>
   <td class="row3" align="right"><span class="gen">{PAGINATION}</span></td>
  </tr>
</table> 
