  <table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="bodyline">
 <tr> 
  <th class="thHead" colspan="2">{L_HEADER} {VERSION}</th>
 </tr>
 <tr>
  <td class="catTop" colspan="2"><span class="gensmall">{L_INFO}</span></td>
 </tr>
    <tr>
      <th width="20%" colspan="2" class="thHead">{SET_ARCADE}</th>
    </tr>
    <tr>
      <td colspan="2" class="row1"><div align="center"><span class=gensmall>{SET_INFO}</span><br>
      </div></td>
    </tr>
    <tr>
<form method="POST" action="{S_SET_CHARGE}">
      <td width="50%" class="row2"><div align="right">{SET_CHARGE}</div></td>
      <td width="50%" class="row3"><input type="text" name="game_charge" size="3"> <input type="submit" name="Set Charge"></td>
</form>
    </tr>
    <tr>
<form method="POST" action="{S_SET_BONUS}">
      <td width="50%" class="row2"><div align="right">{SET_HIGHSCORE}</div></td>
      <td width="50%" class="row3"><input type="text" name="game_bonus" size="3"> <input type="submit" name="Set Bonus"></td>
</form>
    </tr>
    <tr>
<form method="POST" action="{S_SET_AT_BONUS}">
      <td width="50%" class="row2"><div align="right">{SET_AT_HIGHSCORE}</div></td>
      <td width="50%" class="row3"><input type="text" name="at_game_bonus" size="3"> <input type="submit" name="Set AT Bonus"></td>
</form>
    </tr>
    <tr>
<form method="POST" action="{S_SET_REWARD}">
      <td width="50%" class="row2"><div align="right">Set Reward</div></td>
      <td width="50%" class="row3"><input type="text" name="game_bonus" size="3"> <input type="submit" name="Set Bonus"></td>
</form>
    </tr>
    <tr>
<form method="POST" action="{S_SET_LIMIT}">
      <td width="50%" class="row2"><div align="right">Set Highscore limit</div></td>
      <td width="50%" class="row3"><input type="text" name="highscore_limit" size="3"> <input type="submit" name="Set Reward"></td>
</form>
    </tr>
    <tr>
<form method="POST" action="{S_SET_AT_LIMIT}">
      <td width="50%" class="row2"><div align="right">Set All Time Highscore Limit</div></td>
      <td width="50%" class="row3"><input type="text" name="at_highscore_limit" size="3"> <input type="submit" name="Set Reward"></td>
</form>
    </tr>
    <tr>
      <td colspan="2" align="center" class="cat">{L_WARNING}</td>
    </tr>
  </table>
  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><div align="center"><span class=gensmall>Original version By <a href="http://www.realdealstubblefield.com" target="_blank">ScottDaMan</a> | Made in ACP panel By Mark | Based around Minesh's ACP panel </SPAN></div></td>
  </tr>
</table>
<br />
<div align="center"><span class="gensmall">Arcade Mod {VERSION} - by <a href="http://www.phpbb-arcade.com/">dEfEndEr</a></span></div>
