<h1>{TOPICTITLE}</h1>
<p>{TOPICEXPLAIN}</p>
<form action="{S_CONFIG_ACTION}" method="post">
  <input type="hidden" name="action" value="updateuser" />
  <input type="hidden" name="userid" value="{USER_ID}">
<table width="30%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr> 
	  <th class="thHead" colspan="2">{TABLE_TITLE}</th>
	</tr>
	<tr>
	  <td class="row2">
		<select name="job">
		<!-- BEGIN listrow2 -->
		<option value="{listrow2.JOB_NAME}">{listrow2.JOB_NAME}</option>
		<!-- END listrow2 -->
		</select>
	  </td>
	  <td class="row2"><input type="submit" name="remjob" value="{L_FIRE}"></td>
	</tr>
</form>

	<tr>
	<td colspan="2" class="row2"><br /></td>
	</tr>

<form method="post" action="{S_CONFIG_ACTION}">
<input type="hidden" name="action" value="updateuser">
<input type="hidden" name="userid" value="{USER_ID}">
	<tr>
	  <td class="row2">
		<select name="job">
		<!-- BEGIN listrow -->
		<option value="{listrow.JOB_NAME}">{listrow.JOB_NAME}</option>
		<!-- END listrow -->
		</select>
	  </td>
	  <td class="row2"><input type="submit" name="addjob" value="{L_ADD_JOB}"></td>
	</tr>
</form>
<br />
<table width="100%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr>
	  <td class="row4" align="center"><br /><span class="gensmall">{L_IMP}</span><br /><br /></td>
	</tr>
</table>
<br	clear="all" />
