
<h1>{L_U_PRUNE_TITLE}</h1>

<p>{L_U_PRUNE_EXPLAIN}</p>

<form method="post" name="post" action="{S_U_PRUNE_ACTION}"><table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
        <tr>
                <td class="row1" align="center"><input type="hidden" name="mode" value="confirm" /><input type="submit" name="prune" value="{L_U_PRUNE}" class="mainoption" /></td>
        </tr>
</table></form>
