
<h1>{L_U_PRUNE_CONF_TITLE}</h1>

<p>{L_U_PRUNE_CONF_EXPLAIN}</p>

<form method="post" name="post" action="{S_U_PRUNE_ACTION}"><table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
        <tr>
                <td class="row1" align="center"><input type="hidden" name="mode" value="" /><input type="submit" name="prune" value="{U_CONF_PRUNE}" onclick="mode.value='delete';" class="mainoption" />&nbsp;<input type="submit" name="prune" value="{U_CANCEL_PRUNE}" onclick="mode.value='';" class="liteoption" /></td>
        </tr>
</table></form>

{L_U_PRUNED_LIST}
