<table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr> 
		<th class="thHead" colspan="2">{L_PERSONAL_INFO}</th>
	</tr>
	<tr>
		<td class="row1" width="50%"><span class="gensmall"><a href="{U_INVENTORY}" class="gensmall">{L_INVENTORY}</a></span></td>
		<td class="row1" align="right" width="50%"><span class="gensmall">{CURRENT_CASH} {POINTS_NAME}</span></td>
	</tr>
</table>
<br	clear="all" />
