<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
<form method="post" action="{S_MODE_ACTION}">
	<tr> 
		<td align="left"><span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a>{U_CAT}{URL}</span></td>
	</tr>
</form>
</table>

  <table class="forumline" width="100%" cellspacing="1" cellpadding="2" border="0" align="center">
    <tr> 
      <th class="thTop" align="center" colspan="3">:&nbsp;{GAME_NAME}&nbsp;:</th>
    </tr>
    <tr> 
      <td class="row1">&nbsp; &nbsp; &nbsp;</td>
      <td>
        <div align="center">{OBJECT}</div>
      </td>
      <td class="row1">&nbsp; &nbsp; &nbsp;</td>
    </tr>
    <tr> 
      <td class="cat" colspan="3">&nbsp;</td>
    </tr>
  </table>

<div align="center"><span class="gensmall">{ARCADE_MOD}</span></div>
