 
<table class="forumline" width="100%" cellspacing="1" cellpadding="4" border="0">
	<tr>
		<th class="thHead" height="25"><b>{GAME_NAME}</b></th>
	</tr>
	<tr> 
		<td class="row1"><table width="100%" cellspacing="0" cellpadding="1" border="0">
			<tr> 
				<td>&nbsp;</td>
			</tr>
			<tr> 
				<td align="center"><span class="gen">{SAVED}<br />{HIGHSCORESAVED}<br />{CLOSE}&nbsp;<a href="{GAME_ID}">{PLAY_AGAIN}</a>{RATE_ID}{COMMENT_ID}&nbsp;<a href="javascript:self.close();opener.location='{FAV_ID}'"><img src="images/favorite.gif" alt=" - [{ADD_TO_FAV}]" title="{FAV_TITLE}" border="0" /></a></span></td>
			</tr>
         <tr> 
 			<tr> 
				<td>&nbsp;</td>
			</tr>
		</table></td>
	</tr>
</table>

<br clear="all" />
