<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr> 
		<td><span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a>{U_CAT}</span></td>
	</tr>
</table>


<table class="forumline" width="98%" cellpadding="0" border="0" align="center">
  <tr> 
    <td class="thTop" align="center" colspan="5"><span class="cattitle">{HIGHSCORE_DATE}</span></td> 
  </tr>   
	{HIGHSCORE_TEMP}
  <tr align="center" valign="top">
	<td class="catbottom" colspan="5">&nbsp;</td>
  </tr>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr> 
		<td><span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a>{U_CAT}</span></td>
	</tr>
</table>
<br />
<div align="center"><span class="gensmall">{ARCADE_MOD}</span></div>