 	       		       	 
<script language="JavaScript">
<!--
var cssTextHover, cssTextLink;  
function swc(id,fon) {
   if (document.all) {
     var d=document.all[id];  
     for(var i=0;i<d.length;i++){
	// go through everything of id "cal_id###" 
        d[i].style.cssText=(fon?cssTextHover:cssTextLink);  
     //set the style accordingly
     }  
   }
} 
 	       		       	 
function setup() { 
   if (document.all) {
     dd=document.styleSheets;  
     for(var j=0; j<dd.length; j++) { 
	var ss=document.styleSheets[j].rules; 
	     for(var i=0;i<ss.length;i++){ 
	     var rr=ss[i]; 
	     strSelector=rr.selectorText; 
	     if(strSelector=="A:hover") cssTextHover=rr.style.cssText; 
	     else if (strSelector=="A:link") cssTextLink=rr.style.cssText; 
	} 
     } 
   }
 }
setup();
//-->
</script>
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr> 
		<td align="left">{PHPBBHEADER}<span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a> -&gt;
		<a href="{U_CAL_HOME}" class="nav">{CALENDAR}</a></span></td>
		<form action="{S_POST_ACTION}" method="post" name="post">
		<td width=50% align='right'><span class=gensmall>{L_MONTH_JUMP}</span><br>
			<SELECT name='cl_m'>
				{S_MONTH}
 			</SELECT><SELECT name='cl_y'> -->
				{S_YEAR}
 			</SELECT><input type="submit" class="liteoption" value="{L_GO}" name="submit2">
 		</td>
 		</form>
	</tr>
</table>
 	       		       	 
<table border="0" cellpadding="3" cellspacing="1" width="100%" class="forumline">
       <tr>
	<th height="25" class="thHead">
	<center><b>{CAL_MONTH} {CAL_YEAR}</b></center>
	</th>
       </tr>
       <tr>
	<td>
	<table width=100% cellpadding=2 cellspacing=0 border=0 style="border-collapse: expand; border-color=black;">
	<tr>
          <td class=catLeft width=14% align=center><b><span class=genmed>{DAY_HEAD_1}</span></b></td>
	  <td class=catLeft width=14% align=center><b><span class=genmed>{DAY_HEAD_2}</span></b></td>
	  <td class=catLeft width=14% align=center><b><span class=genmed>{DAY_HEAD_3}</span></b></td>
	  <td class=catLeft width=14% align=center><b><span class=genmed>{DAY_HEAD_4}</span></b></td>
	  <td class=catLeft width=14% align=center><b><span class=genmed>{DAY_HEAD_5}</span></b></td>
	  <td class=catLeft width=14% align=center><b><span class=genmed>{DAY_HEAD_6}</span></b></td>
	  <td class=catLeft width=14% align=center><b><span class=genmed>{DAY_HEAD_7}</span></b></td>
        </tr>
        <tr>
<!-- BEGIN no_day -->
	  <td {no_day.S_CELL}>&nbsp;</td>
<!-- END no_day -->
<!-- BEGIN daycell --> 
     <td valign=top {daycell.S_CELL}> 
       <table border=0 cellspacing=0 cellpadding=0 width=100%> 
       <tr><td align=center {daycell.S_HEAD}><a href='{daycell.U_DAY}' class=genmed><b>{daycell.NUM_DAY}</b></a></td></tr> 
       <tr {MAX_HEIGHT}><td valign=top {daycell.S_DETAILS}>{daycell.DAY_EVENT_LIST}</td></tr> 
       </table> 
     </td>{daycell.WEEK_ROW} 
<!-- END daycell -->
        </tr>
        </table>
        </td>
     </tr>
</table>
<center>
<table>
   <tr>
	{BUTTON_PREV}{BUTTON_ADD}{BUTTON_VALIDATE}{BUTTON_NEXT}
   </tr>
</table>
</center>