






<!-- BEGIN events -->
<table class="forumline" cellpadding="0" cellspacing="0"  align="center" width="90%">
<th colspan="2">{events.event_edate} - {events.event_title}</th>
<tr><td class="row3" width="50%"><span class="gen"><b>Event</b>:{events.event_title}</span></td><td class="row3" align="left"><span class="gen"><b>Date:</b>{events.event_edate}</span></td></tr>
<tr><td class="row3" width="50%"><span class="gen"><b>Location</b>:{events.event_location}</span></td><td class="row3" align="left"><span class="gen"><b>Doors:</b>{events.event_doors}</span></td></tr>
<tr><td class="row3" width="50%"><span class="gen"><img src="{events.event_flyer}" height="300" /></span></td><td class="row3" align="left" ><span class="gen">{events.event_content}</span></td></tr>
<tr><td class="row3" width="50%"><span class="gen">{events.event_comments}</span></td><td class="row3" align="left"><span class="gen"><b>submitted</b>:{events.event_sdate}</span></td></tr>
</table>
<br/><br/>
<!-- END events -->







