<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
 <tr> 
	<td align="left"><span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a>{LDLOCATION}</span></td>
 </tr>
</table>

<br><div align="center">
  <center>
  <table class="forumline" border="0" width="99%" cellspacing="4" cellpadding="2">
    <tr>
      <th class="thHead" width="100%">
        <p align="center">{TITLE}</p>
      </th>
    </tr>
    <tr>
      <td class="row2" width="100%">
        <p align="center"><center>{MAIN}</center></p>
      </td>
    </tr>
    <tr>
      <td width="100%" class="catBottom">
      <span class="gen"><center>{GAME}</center></span></td>
    </tr>
		<tr>
		  <td width="100%" class="catBottom">
			<span class="gensmall"><center>{SUB}</center></span></td>
		</tr>
  </table>
  </center>
</div>


<br>