<!-- mod : profile cp --><head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
<meta http-equiv="Content-Style-Type" content="text/css">
{META}
{NAV_LINKS}

<title>{SITENAME} :: {PAGE_TITLE}</title>
<link rel="stylesheet" href="templates/BlueLagoon/{T_HEAD_STYLESHEET}" type="text/css">

<!-- BEGIN switch_enable_pm_popup -->
<script language="Javascript" type="text/javascript">
<!--
	if ( {PRIVATE_MESSAGE_NEW_FLAG} )
	{
		window.open('{U_PRIVATEMSGS_POPUP}', '_phpbbprivmsg', 'HEIGHT=225,resizable=yes,WIDTH=400');;
	}
//-->
</script>
<!-- END switch_enable_pm_popup -->

<!-- BEGIN birthday_popup -->
<script language="Javascript" type="text/javascript">
<!--
	window.open('{birthday_popup.U_BIRTHDAY_POPUP}', '_phpbbbirthday', 'HEIGHT=225,resizable=yes,WIDTH=400');
//-->
</script>
<!-- END birthday_popup -->

<SCRIPT LANGUAGE="Javascript"> 
var win = null; 
function Gk_PopTart(mypage,myname,w,h,scroll) 
{ 
  LeftPosition = (screen.width) ? (screen.width-w)/2 : 0; 
  TopPosition = (screen.height) ? (screen.height-h)/2 : 0; 
  settings = 'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars='+scroll+',resizable=yes'; 
  win = window.open(mypage,myname,settings); 
} 
</SCRIPT> 
</head>
<body bgcolor="{T_BODY_BGCOLOR}" text="{T_BODY_TEXT}" link="{T_BODY_LINK}" vlink="{T_BODY_VLINK}">

<a name="top"></a>

<table width="100%" cellspacing="0" cellpadding="10" border="0" align="center"> 
	<tr>
<td class="bodyline"><table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr> 
				<td align="center" width="100%" valign="middle"><span class="maintitle">{SITENAME}</span><br /><span class="gen">{SITE_DESCRIPTION}<br />&nbsp; </span> 
				<table cellspacing="0" cellpadding="2" border="0">
					<tr> 
						<td align="center" valign="top" nowrap="nowrap"><a href="../index.php?" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_psyklone.gif" width="111" height="20" border="0" alt="Home" /></a>
						<!-- BEGIN switch_user_logged_in -->
						<a href="{U_CALENDAR}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_calendar.gif" width="111" height="20" border="0" alt="{L_CALENDAR}" /></a>
						<!-- END switch_user_logged_in -->
						<br /><span class="mainmenu">&nbsp;<a href="{U_FAQ}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_faq.gif" width="111" height="20" border="0" alt="{L_FAQ}" /></a></span>
						<span class="mainmenu"><a href="rules.php" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_rules.gif" width="111" height="20" border="0" alt="Rules" /></a>
						<a href="{U_SEARCH}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_search.gif" width="111" height="20" border="0" alt="{L_SEARCH}" /></a>
						<a href="{U_MEMBERLIST}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_members.gif" width="111" height="20" border="0" alt="{L_MEMBERLIST}" /></a>
						<a href="{U_STAT_HEADERLINK}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_statistics.gif" width="111" height="20" border="0" alt="{L_STAT_HEADERLINK}" hspace="3" /></a>
						<br />
						<!-- BEGIN switch_user_logged_in -->
						<span class="mainmenu"><a href="{U_PROFILE}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_profile.gif" width="114" height="20" border="0" alt="{L_PROFILE}" /></a>					
						<a href="{U_LOGIN_LOGOUT}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_logout.gif" width="111" height="20" border="0" alt="{L_LOGIN_LOGOUT}" /></a></span>
						<a href="{U_PRIVATEMSGS}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_message.gif" width="111" height="20" border="0" alt="{PRIVATE_MESSAGE_INFO}" /></a>
						<a href="{U_GROUP_CP}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_groups.gif" width="111" height="20" border="0" alt="{L_USERGROUPS}" /></a>
						<br />
						<a href="{U_SHOP}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_shop.gif" width="111" height="20" border="0" alt="{L_SEARCH}" /></a>
						<a href="{U_LUDI}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_dice.gif" width="111" height="20" border="0" alt="LuckyDice" /></a>
						<a href="{U_JOBS}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_jobs.gif" width="111" height="20" border="0" alt="{L_JOBS}" /></a>
						<a href="{U_RABBITOSHI}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_pets.gif" width="111" height="20" border="0" alt="{L_RABBITOSHI}" /></a>
						<a href="{U_ACTIVITY}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_activity.gif" width="111" height="20" border="0" alt="{L_ACTIVITY}" /></a>
						<br />
						<!-- END switch_user_logged_in -->
						<!-- BEGIN switch_user_logged_out -->
						<a href="{U_LOGIN_LOGOUT}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_login.gif" width="111" height="20" border="0" alt="{L_LOGIN_LOGOUT}" /></a></span>
						<!-- END switch_user_logged_out -->
						<!-- BEGIN switch_user_logged_out -->
						<a href="{U_REGISTER}" class="mainmenu"><img src="templates/BlueLagoon/images/icon_mini_register.gif" width="111" height="20" border="0" alt="{L_REGISTER}" /></a>
						<!-- END switch_user_logged_out -->
						</td><br />
						<!-- BEGIN switch_admin_link -->
						&nbsp;<a href="{U_ADMIN_LINK}" class="mainmenu">{L_ADMIN_LINK}</a> - 
						<a href="./events.php" class="mainmenu">Events</a>
						<!-- END switch_admin)link -->
						<br />
					</tr>
					<tr>
					<td>		
					<table align="center">
					<tr>
					<td>
					<a href="{U_INDEX}"><img align="left" src="templates/BlueLagoon/images/logo_phpBB.gif" border="0" alt="{L_INDEX}" vspace="1" /></a>
					</td><td width="50"></td>
					<td>
					<script type="text/javascript"><!--
					google_ad_client = "pub-1204312971050954";
					//Forum banner
					google_ad_slot = "3209001497";
					google_ad_width = 728;
					google_ad_height = 90;
					//--></script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script></td>
					</tr>
					</table></td>
					
					</tr>
				</table></td>
				</tr>
		</table>
		<br>


		<br>
