
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="left" class="nav">&nbsp;&nbsp;&nbsp;<a href="http://www.psyklone.net" class="nav">Back to Psyklone</a> <span class="nav">&raquo;</span>&nbsp;<a href="{U_INDEX}" class="nav">{L_INDEX}</a></td>
	</tr>
</table>
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<table width="100%" cellpadding="2" cellspacing="0" border="0" class="forumline">
	<tr> 
<th colspan="3" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="98%" nowrap="nowrap">&nbsp;<span class="forumlink">Searching Help Faq's</span></th>
<th class="thCornerR2" width="2%" nowrap="nowrap">&nbsp;</th>
</tr>
</table>
</th>
</tr>
<!-- BEGIN faq_block_link -->
<tr> 
<th class="thCornerL" height="25" nowrap="nowrap" align="center"><span class="gen"><b>{faq_block_link.BLOCK_TITLE}</b></span></th>
</tr>
<!-- BEGIN faq_row_link -->
<tr>
<td class="forum7" align="center">
<span class="gen"><a href="{faq_block_link.faq_row_link.U_FAQ_LINK}" >{faq_block_link.faq_row_link.FAQ_LINK}</a></span>
</td>
</tr>
<!-- END faq_row_link -->
<!-- END faq_block_link -->
	<tr>
		<td class="catBottom" height="28">&nbsp;</td>
	</tr>
</table>
</TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>

<br clear="all" />

<!-- BEGIN faq_block -->
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<table width="100%" cellpadding="2" cellspacing="0" border="0" class="forumline">
<tr> 
<th colspan="3" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="98%" nowrap="nowrap">&nbsp;<span class="forumlink">{faq_block.BLOCK_TITLE}</span></th>
<th class="thCornerR2" width="2%" nowrap="nowrap">&nbsp;</th>
</tr>
</table>
</th>
</tr>
	<!-- BEGIN faq_row -->  
	<tr> 
		<td class="forum7" align="left" valign="top"><span class="postbody"><a name="{faq_block.faq_row.U_FAQ_ID}"></a><b>{faq_block.faq_row.FAQ_QUESTION}</b></span><br /><span class="postbody">{faq_block.faq_row.FAQ_ANSWER}<br /><a class="forumlink" href="#Top">{L_BACK_TO_TOP}</a></span></td>
	</tr>
	<tr>
		<td class="forum8" height="1"><img src="templates/ThrillKill/images/spacer.gif" alt="" width="1" height="1" /></td>
	</tr>
	<!-- END faq_row -->
</table>
</TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>

<br clear="all" />
<!-- END faq_block -->

<table width="100%" cellspacing="2" border="0" align="center">
	<tr>
		<td align="right" valign="middle" nowrap="nowrap"><span class="gensmall">{S_TIMEZONE}</span><br /><br />{JUMPBOX}</td> 
	</tr>
</table>
