 
<form action="{S_GROUPCP_ACTION}" method="post">

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="left" class="nav">&nbsp;&nbsp;<a href="http://www.psyklone.net" class="nav">Back to Psyklone</a> <span class="nav">&raquo;</span>&nbsp;<a href="{U_INDEX}" class="nav">{L_INDEX}</a></td>
	</tr>
</table>



<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<table width="100%" cellpadding="3" cellspacing="0" border="0" class="forumline">
<tr> 
	<th colspan="2" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="98%" nowrap="nowrap">&nbsp;<span class="forumlink">{L_GROUP_INFORMATION}</span></th>
<th class="thCornerR2" width="2%" nowrap="nowrap">&nbsp;</th>
</tr>
</table>
</th>
</tr>
		<tr> 
		<td class="forum8" width="20%"><span class="gen">{L_GROUP_NAME}:</span></td>
		<td class="forum7"><span class="gen"><b>{GROUP_NAME}</b></span></td>
	</tr>
	<tr> 
		<td class="forum8" width="20%"><span class="gen">{L_GROUP_DESC}:</span></td>
		<td class="forum7"><span class="gen">{GROUP_DESC}</span></td>
	</tr>
	<tr> 
		<td class="forum8" width="20%"><span class="gen">{L_GROUP_MEMBERSHIP}:</span></td>
		<td class="forum7"><span class="gen">{GROUP_DETAILS} &nbsp;&nbsp;
		<!-- BEGIN switch_subscribe_group_input -->
		<input class="mainoption" type="submit" name="joingroup" value="{L_JOIN_GROUP}" />
		<!-- END switch_subscribe_group_input -->
		<!-- BEGIN switch_unsubscribe_group_input -->
		<input class="mainoption" type="submit" name="unsub" value="{L_UNSUBSCRIBE_GROUP}" />
		<!-- END switch_unsubscribe_group_input -->
		</span></td>
	</tr>
	<!-- BEGIN switch_mod_option -->
	<tr> 
		<td class="forum8" width="20%"><span class="gen">{L_GROUP_TYPE}:</span></td>
		<td class="forum7"><span class="gen"><span class="gen"><input type="radio" name="group_type" value="{S_GROUP_OPEN_TYPE}" {S_GROUP_OPEN_CHECKED} /> {L_GROUP_OPEN} &nbsp;&nbsp;<input type="radio" name="group_type" value="{S_GROUP_CLOSED_TYPE}" {S_GROUP_CLOSED_CHECKED} />	{L_GROUP_CLOSED} &nbsp;&nbsp;<input type="radio" name="group_type" value="{S_GROUP_HIDDEN_TYPE}" {S_GROUP_HIDDEN_CHECKED} />	{L_GROUP_HIDDEN} &nbsp;&nbsp; <input class="mainoption" type="submit" name="groupstatus" value="{L_UPDATE}" /></span></td>
	</tr>
	<!-- END switch_mod_option -->
</table>
</TD>

 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>


{S_HIDDEN_FIELDS}

</form>

<form action="{S_GROUPCP_ACTION}" method="post" name="post">

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<table width="100%" cellpadding="2" cellspacing="0" border="0" class="forumline">	<tr> 
	  <th class="thCornerL" height="25">{L_PM}</th>
	  <th class="thCornerL">{L_USERNAME}</th>
	  <th class="thCornerL">{L_POSTS}</th>
	  <th class="thCornerL">{L_FROM}</th>
	  <th class="thCornerL">{L_EMAIL}</th>
	  <th class="thCornerL">{L_WEBSITE}</th>
	  <th class="thCornerL">{L_SELECT}</th>
	</tr>
<tr> 
	<th colspan="7" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="98%" nowrap="nowrap">&nbsp;<span class="forumlink">{L_GROUP_MODERATOR}</span></th>
<th class="thCornerR2" width="2%" nowrap="nowrap">&nbsp;</th>
</tr>
</table>
</th>
</tr>
	<tr> 
	  <td class="forum8" align="center"> {MOD_PM_IMG} </td>
	  <td class="forum7" align="center"><span class="gen"><a href="{U_MOD_VIEWPROFILE}" class="gen">{MOD_USERNAME}</a></span></td>
	  <td class="forum7" align="center" valign="middle"><span class="gen">{MOD_POSTS}</span></td>
	  <td class="forum7" align="center" valign="middle"><span class="gen">{MOD_FROM}</span></td>
	  <td class="forum8" align="center" valign="middle"><span class="gen">{MOD_EMAIL_IMG}</span></td>
	  <td class="forum8" align="center">{MOD_WWW_IMG}</td>
	  <td class="forum8" align="center"> &nbsp; </td>
	</tr>
<tr> 
	<th colspan="7" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="98%" nowrap="nowrap">&nbsp;<span class="forumlink">{L_GROUP_MEMBERS}</span></th>
<th class="thCornerR2" width="2%" nowrap="nowrap">&nbsp;</th>
</tr>
</table>
</th>
</tr>
	<!-- BEGIN member_row -->
	<tr> 
	  <td class="forum8" align="center"> {member_row.PM_IMG} </td>
	  <td class="forum7" align="center"><span class="gen"><a href="{member_row.U_VIEWPROFILE}" class="gen">{member_row.USERNAME}</a></span></td>
	  <td class="forum7" align="center"><span class="gen">{member_row.POSTS}</span></td>
	  <td class="forum7" align="center"><span class="gen"> {member_row.FROM} 
		</span></td>
	  <td class="forum8" align="center" valign="middle"><span class="gen">{member_row.EMAIL_IMG}</span></td>
	  <td class="forum8" align="center"> {member_row.WWW_IMG}</td>
	  <td class="forum8" align="center"> 
	  <!-- BEGIN switch_mod_option -->
	  <input type="checkbox" name="members[]" value="{member_row.USER_ID}" /> 
	  <!-- END switch_mod_option -->
	  </td>
	</tr>
	<!-- END member_row -->

	<!-- BEGIN switch_no_members -->
	<tr> 
	  <td class="forum8" colspan="7" align="center"><span class="gen">{L_NO_MEMBERS}</span></td>
	</tr>
	<!-- END switch_no_members -->

	<!-- BEGIN switch_hidden_group -->
	<tr> 
	  <td class="forum8" colspan="7" align="center"><span class="gen">{L_HIDDEN_MEMBERS}</span></td>
	</tr>
	<!-- END switch_hidden_group -->

	<!-- BEGIN switch_mod_option -->
	<tr>
		<th class="thCornerL" colspan="8" align="right"><span class="cattitle">
			<input type="submit" name="remove" value="{L_REMOVE_SELECTED}" class="mainoption" />
		</th>
	</tr>
	<!-- END switch_mod_option -->
</table>
</TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>

<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
	<tr>
		<td align="left" valign="top">
		<!-- BEGIN switch_mod_option -->
		<span class="genmed"><input type="text"  class="post" name="username" maxlength="50" size="20" /> <input type="submit" name="add" value="{L_ADD_MEMBER}" class="mainoption" /> <input type="submit" name="usersubmit" value="{L_FIND_USERNAME}" class="liteoption" onClick="window.open('{U_SEARCH_USER}', '_phpbbsearch', 'HEIGHT=250,resizable=yes,WIDTH=400');return false;" /></span><br /><br />
		<!-- END switch_mod_option -->
		<span class="nav">{PAGE_NUMBER}</span></td>
		<td align="right" valign="top"><span class="gensmall">{S_TIMEZONE}</span><br /><span class="nav">{PAGINATION}</span></td>
	</tr>
</table>

{PENDING_USER_BOX}

{S_HIDDEN_FIELDS}</form>

<table width="100%" cellspacing="2" border="0" align="center">
  <tr> 
	<td valign="top" align="right">{JUMPBOX}</td>
  </tr>
</table>
