
<form method="post" action="{S_MODE_ACTION}">
  <table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr> 
	  <td align="left"><span class="nav"><a href="http://www.psyklone.net" class="nav">Back to Psyklone</a> <span class="nav">&raquo;</span>&nbsp;<a href="{U_INDEX}" class="nav">{L_INDEX}</a></span></td>
	  <td align="right" nowrap="nowrap">&nbsp;</td>
	</tr>
  </table>



 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<table width="100%" cellpadding="3" cellspacing="0" border="0" class="forumline">
	<tr> 
	  <th height="25" class="thCornerL" nowrap="nowrap">#</th>
	  <th class="thCornerL" nowrap="nowrap">&nbsp;</th>
	  <th class="thCornerL" nowrap="nowrap">{L_USERNAME}</th>
	  <th class="thCornerL" nowrap="nowrap">{L_EMAIL}</th>
	  <th class="thCornerL" nowrap="nowrap">{L_FROM}</th>
	  <th class="thCornerL" nowrap="nowrap">{L_JOINED}</th>
	  <th class="thCornerL" nowrap="nowrap">{L_POSTS}</th>
	  <!-- BEGIN cashrow -->
	  <th class="thTop" nowrap="nowrap">{cashrow.NAME}</th>
	  <!-- END cashrow -->
	  <th class="thCornerL" nowrap="nowrap">{L_WEBSITE}</th>
	</tr>
	<!-- BEGIN memberrow -->
	<tr> 
	  <td class="forum8" align="center"><span class="gen">&nbsp;{memberrow.ROW_NUMBER}&nbsp;</span></td>
	  <td class="forum7" align="center">&nbsp;{memberrow.PM_IMG}&nbsp;</td>
	  <td class="forum7" align="center"><span class="gen"><a href="{memberrow.U_VIEWPROFILE}" class="gen">{memberrow.USERNAME}</a></span></td>
	  <td class="forum7" align="center" valign="middle">&nbsp;{memberrow.EMAIL_IMG}&nbsp;</td>
	  <td class="forum7" align="center" valign="middle"><span class="gen">{memberrow.FROM}</span></td>
	  <td class="forum8" align="center" valign="middle"><span class="gensmall">{memberrow.JOINED}</span></td>
	  <td class="forum8" align="center" valign="middle"><span class="gen">{memberrow.POSTS}</span></td>
	  <!-- BEGIN cashrow -->
	  <td class="{memberrow.ROW_CLASS}" align="center" valign="middle"><span class="gen">{memberrow.cashrow.CASH_DISPLAY}</span></td>
	  <!-- END cashrow -->
	  <td class="forum8" align="center">&nbsp;{memberrow.WWW_IMG}&nbsp;</td>
	</tr>
<tr>
		<td class="forum8" height="1" colspan="8"><img src="templates/ThrillKill/images/spacer.gif" alt="" width="1" height="1" /></td>
	</tr>

	<!-- END memberrow -->
	<tr> 
	  <td class="catBottom" colspan="{NUM_COLUMNS}" height="28" align="center"><span class="genmed">{L_SELECT_SORT_METHOD}:&nbsp;{S_MODE_SELECT}&nbsp;&nbsp;{L_ORDER}&nbsp;{S_ORDER_SELECT}&nbsp;&nbsp; 
		<input type="submit" name="submit" value="{L_SUBMIT}" class="liteoption" />
		</span></td>
	</tr>
  </table>

</TD>

 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>


  <table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
	<tr> 
	  <td align="right" valign="top"></td>
	</tr>
  </table>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr> 
	<td><span class="nav">{PAGE_NUMBER}</span></td>
	<td align="right"><span class="gensmall">{S_TIMEZONE}</span><br /><span class="nav">{PAGINATION}</span></td>
  </tr>
</table></form>

<table width="100%" cellspacing="2" border="0" align="center">
  <tr> 
	<td valign="top" align="right">{JUMPBOX}</td>
  </tr>
</table>
