
<div align="center"><span class="copyright"><br />{ADMIN_LINK}<br />
<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB 2.0. If you cannot (for good
	reason) retain the full copyright we request you at least leave in place the 
	Powered by phpBB {PHPBB_VERSION} line, with phpBB linked to www.phpbb.com. If you refuse
	to include even this then support on our forums may be affected. 

	The phpBB Group : 2002
// -->
<!--
      Thank you for choosing to download and use my ThrillKill skin. The only thing that I ask of you
      is to please leave the below credits to me intact and unchanged. Thank you once again
      and enjoy the skin.
// -->
Skin Created by: Sigma12<br />Powered by <a href="http://www.phpbb.com/" target="_phpbb" class="copyright">phpBB</a> {PHPBB_VERSION} &copy; 2001, 2002 phpBB Group<br />{TRANSLATION_INFO}</span></div>
		</td>
	</tr>
</table>
</TD>
		  <TD
			BACKGROUND="templates/ThrillKill/images/border_5.gif"><IMG
			 SRC="templates/ThrillKill/images/border_5.gif"
			 WIDTH="20" HEIGHT="2"></TD>
		</TR>
	 </TABLE>
	 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER">
		<TR>
		  <TD><IMG
			 SRC="templates/ThrillKill/images/border_6.gif"
			 WIDTH="20" HEIGHT="20"></TD>
		  <TD
			BACKGROUND="templates/ThrillKill/images/border_7.gif"
			WIDTH="100%"></TD>
		  <TD><IMG
			 SRC="templates/ThrillKill/images/border_8.gif"
			 WIDTH="20" HEIGHT="20"></TD>
		</TR>
	 </TABLE>
</td>
</tr>
</table>

</body>
</html>
