<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="{S_CONTENT_DIRECTION}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
<meta http-equiv="Content-Style-Type" content="text/css">
{META}
{NAV_LINKS}
<title>{SITENAME} :: {PAGE_TITLE}</title>
<link rel="stylesheet" href="templates/ThrillKill/{T_HEAD_STYLESHEET}" type="text/css">
<!-- BEGIN switch_enable_pm_popup -->
<script language="Javascript" type="text/javascript">
<!--
	if ( {PRIVATE_MESSAGE_NEW_FLAG} )
	{
		window.open('{U_PRIVATEMSGS_POPUP}', '_phpbbprivmsg', 'HEIGHT=225,resizable=yes,WIDTH=400');;
	}
//-->
</script>
<!-- END switch_enable_pm_popup -->
</head>
<body LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">

<a name="top"></a>



<!-- The width of the entire header is located in the table element below -->


<table cellpadding="0" cellspacing="0" width="100%" align="center">
<tr>
<td class="forum8" height="4" colspan="3"><img src="templates/ThrillKill/images/spacer.gif" alt="" width="1" height="1" /></td>
</tr>
<tr> 
<th colspan="3" height="25" nowrap="nowrap" width="100%" align="left"><table cellpadding="3" cellspacing="0" width="100%">
<tr> 
<th colspan="3" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="80%" nowrap="nowrap" align="left">&nbsp;<span class="forumlink"><a href="{U_FAQ}" ><img src="templates/ThrillKill/images/icon_mini_faq.gif" border="0" alt="{L_FAQ}" hspace="3" />Help</a>&nbsp; &nbsp;<a href="{U_SEARCH}" ><img src="templates/ThrillKill/images/icon_mini_search.gif" border="0" alt="{L_SEARCH}" hspace="3" />{L_SEARCH}</a>&nbsp; &nbsp;<a href="{U_MEMBERLIST}" ><img src="templates/ThrillKill/images/icon_mini_members.gif" border="0" alt="{L_MEMBERLIST}" hspace="3" />{L_MEMBERLIST}</a>&nbsp; &nbsp;<a href="{U_GROUP_CP}" ><img src="templates/ThrillKill/images/icon_mini_groups.gif" border="0" alt="{L_USERGROUPS}" hspace="3" />{L_USERGROUPS}</a></span><span "smalltext"<a href="rules.php" class="mainmenu"> <img src="templates/ThrillKill/images/icon_mini_faq.gif" border="0" alt="Rules" hspace="3" />Forum Rules</a></span></th>
<th class="thCornerR2" width="20%" nowrap="nowrap" align="right">&nbsp;<span class="forumlink">{SITENAME}&nbsp;</th>
</tr>
</table>
</th>
</tr>
</table>
</th>
</tr>
<tr>
<td class="forum8" height="4" colspan="3"><img src="templates/ThrillKill/images/spacer.gif" alt="" width="1" height="1" /></td>
</tr>

      <!-- This is that area you change that controls the logo and bg image class -->

<tr>
<td class="logo" width="100%" colspan="2"><a href="{U_INDEX}" border="0"><img src="templates/ThrillKill/images/logo_phpBB.gif" border="0" alt="{L_INDEX}" /></a></td>
</tr>

      <!-- End logo change area -->

<tr>
<td class="forum8" height="4" colspan="3"><img src="templates/ThrillKill/images/spacer.gif" alt="" width="1" height="1" /></td>
</tr>
<tr> 
<th colspan="3" height="25" nowrap="nowrap" width="100%" align="left"><table cellpadding="3" cellspacing="0" width="100%">
<tr> 
<th colspan="3" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="10%" nowrap="nowrap" align="left" colspan="2">{CURRENT_TIME}</th>
<th class="thCornerR2" width="90%" nowrap="nowrap" align="right"><span class="mainmenu">&nbsp;<a href="{U_PROFILE}" ><img src="templates/ThrillKill/images/icon_mini_profile.gif" border="0" alt="{L_PROFILE}" hspace="3" />{L_PROFILE}</a>&nbsp; &nbsp;<a href="{U_PRIVATEMSGS}" ><img src="templates/ThrillKill/images/icon_mini_message.gif" width="12" height="13" border="0" alt="{PRIVATE_MESSAGE_INFO}" hspace="3" />{PRIVATE_MESSAGE_INFO}</a>&nbsp; &nbsp;<a href="{U_SHOP}" class="mainmenu">{SHOP}</a><a href="{U_LOGIN_LOGOUT}"><img src="templates/ThrillKill/images/icon_mini_login.gif" width="12" height="13" border="0" alt="{L_LOGIN_LOGOUT}" hspace="3" />{L_LOGIN_LOGOUT}</a>&nbsp;</span></th>
</tr>
</table>
</th>
</tr>
</table>
</th>
</tr>
<tr>
<td class="forum8" height="4" colspan="3"><img src="templates/ThrillKill/images/spacer.gif" alt="" width="1" height="1" /></td>
</tr>

<!-- BEGIN switch_user_logged_out -->
<tr> 
<td class="catLeft" colspan="2" height="28">&nbsp;<span class="mainmenu"><a href="{U_REGISTER}"><img src="templates/ThrillKill/images/icon_mini_register.gif" width="12" height="13" border="0" alt="{L_REGISTER}" hspace="3" />{L_REGISTER}</a></span>&nbsp;</td>
</tr>
<!-- END switch_user_logged_out -->

<tr> 
<td class="headerbg" colspan="2" height="6px">&nbsp;</td>
</tr>
</table>

<!-- The width of the main forum below the header is located inside the table element below -->

<TABLE BORDER="0" WIDTH="98%" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER">
<TR>
<TD>
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER">
<TR>
		  <TD><IMG
			 SRC="templates/ThrillKill/images/border_1.gif"
			 WIDTH="20" HEIGHT="20"></TD>
		  <TD
			BACKGROUND="templates/ThrillKill/images/border_2.gif"
			WIDTH="100%"></TD>
		  <TD><IMG
			 SRC="templates/ThrillKill/images/border_3.gif"
			 WIDTH="20" HEIGHT="20"></TD>
		</TR>
	 </TABLE>
	 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER">
		<TR>
		  <TD
			BACKGROUND="templates/ThrillKill/images/border_4.gif"><IMG
			 SRC="templates/ThrillKill/images/border_4.gif"
			 WIDTH="20" HEIGHT="2"></TD>
		  <TD WIDTH="100%" BGCOLOR="#1C7BB5" colspan="2">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"> 
<tr> 
<td class="bodyline">
