
<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<table width="100%" cellpadding="2" cellspacing="0" border="0" class="forumline">	<tr> 
<tr> 
	<th colspan="3" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="98%" nowrap="nowrap">&nbsp;<span class="forumlink">{L_PREVIEW}</span></th>
<th class="thCornerR2" width="2%" nowrap="nowrap">&nbsp;</th>
</tr>
</table>
</th>
  </tr>
	<tr> 
		<td class="forum7"><img src="templates/ThrillKill/images/icon_minipost.gif" alt="{L_POST}" /><span class="postdetails">{L_POSTED}: {POST_DATE} &nbsp;&nbsp;&nbsp; {L_POST_SUBJECT}: {POST_SUBJECT}</span></td>
	</tr>
	<tr> 
		<td class="forum8"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<span class="postbody">{MESSAGE}</span>
				</td>
			</tr>
		</table></td>
	</tr>
	<tr>
		<td class="forum8" height="1"><img src="templates/ThrillKill/images/spacer.gif" alt="" width="1" height="1" /></td>
	</tr>

</table>
</TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>

<br clear="all" />
