 
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
  <tr> 
	<td align="left">&nbsp;&nbsp;<span class="nav"><a href="http://www.psyklone.net" class="nav">Back to Psyklone</a> <span class="nav">&raquo;</span>&nbsp;<a href="{U_INDEX}" class="nav">{L_INDEX}</a>&nbsp;&nbsp;{L_SEARCH_MATCHES}</span></td>
  </tr>
</table>


<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<table width="100%" cellpadding="4" cellspacing="0" border="0" class="forumline">
    <!-- BEGIN searchresults -->
 <tr> 
	<th colspan="3" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">

<tr >
<th class="thCornerL2" width="98%" nowrap="nowrap" align="left">&nbsp;<span class="topictitle">&nbsp; {L_TOPIC}:&nbsp;<a href="{searchresults.U_TOPIC}" class="topictitle">{searchresults.TOPIC_TITLE}</a></span></th>
<th class="thCornerR2" width="2%" >&nbsp;</th>

</tr>
</table>
</th>
  </tr>
  <tr> 
	<td width="150px" align="left" valign="top" class="forum8" rowspan="2"><span class="name"><b>{searchresults.POSTER_NAME}</b></span><br />
	  <br />
	  <span class="postdetails">{L_REPLIES}: <b>{searchresults.TOPIC_REPLIES}</b><br />
	  {L_VIEWS}: <b>{searchresults.TOPIC_VIEWS}</b></span><br />
	</td>
	<td width="90%" valign="top" class="forum8"><img src="{searchresults.MINI_POST_IMG}" width="12" height="9" alt="{searchresults.L_MINI_POST_ALT}" title="{searchresults.L_MINI_POST_ALT}" border="0" /><span class="postdetails">{L_FORUM}:&nbsp;<b><a href="{searchresults.U_FORUM}" class="postdetails">{searchresults.FORUM_NAME}</a></b>&nbsp; &nbsp;{L_POSTED}: {searchresults.POST_DATE}&nbsp; &nbsp;{L_SUBJECT}: <b><a href="{searchresults.U_POST}">{searchresults.POST_SUBJECT}</a></b></span></td>
  </tr>
  <tr>
	<td valign="top" class="forum7"><span class="postbody">{searchresults.MESSAGE}</span></td>
  </tr>
<tr>
		<td class="forum8" height="1" colspan="2"><img src="templates/ThrillKill/images/spacer.gif" alt="" width="1" height="1" /></td>
	</tr>

  <!-- END searchresults -->
  <tr> 
	<th colspan="2" class="thCornerL" height="25" nowrap="nowrap" align="left">&nbsp;</th>

  </tr>
</table>
</TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>


<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
  <tr> 
	<td align="left" valign="top"><span class="nav">{PAGE_NUMBER}</span></td>
	<td align="right" valign="top" nowrap="nowrap"><span class="nav">&nbsp;&nbsp;{PAGINATION}</span><br /><span class="gensmall">{S_TIMEZONE}</span>&nbsp;&nbsp;</td>
  </tr>
</table>

<table width="100%" cellspacing="2" border="0" align="center">
  <tr> 
	<td valign="top" align="right">{JUMPBOX}</td>
  </tr>
</table>
