/*
  The ThrillKill Theme for phpBB version 2+
  Created by: Sigma12
*/


 /* General page style. The scroll bar colours only visible in IE5.5+ */
body {
font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 11px; color: #000000; margin:0px;padding:0px;
	background-color: #004671;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

/* General font families for common tags */
font,th,td,p { font-family:  Verdana, Tahoma, Arial, sans-serif ; font-size: 11px; color: #000000; }
a:link,a:active,a:visited { color : #000000; }
a:hover		{ text-decoration: underline; color : #222222; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}


/* This is the border line & background colour round the entire page */
.bodyline	{  }

/* This is the outline surrounding the main blocks */
.forumlinemain { background-color: #97B9DA; border: 1px #1A76AF solid; padding: 4px; width: 100%; margin-bottom: 2px; }

/* This is the outline round the main forum tables */
.forumline	{ background-color: #1A76AF; }

.logo { background-image: url(images/logo_phpBB_bg.gif); }


/* Main table cell colours and backgrounds */
td.row1	{ background-color: #ABC5E2; }
td.row2	{ background-color: #92B6D8; background-image: url(images/forum_bg.jpg); background-repeat: repeat-y;}
td.row3	{ background-color: #BDD1E8; }


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #FFFFFF;
		background-image: url(images/cellpic2.jpg);
		background-repeat: repeat-y;
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #000000; font-size: 10px; font-weight : bold;
	background-color: #000000; height: 25px;
	background-image: url(images/cellpic3.gif);
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-image: url(images/cellpic1.gif);
			background-color:#D1D7DC; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; height: 25px; }
td.row3Right,td.spaceRow {
	background-color: #D1D7DC; border: #FFFFFF; border-style: solid; }

th.thHead,td.catHead { border-left: solid 1px #4AABE2; border-top: solid 1px #4AABE2; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 0px 0px 0px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 0px 0px 0px; }
th.thLeft,td.catLeft	  { border-left: solid 1px #4AABE2; border-top: solid 1px #4AABE2; }
th.thBottom,td.catBottom  { border-left: solid 1px #4AABE2; border-top: solid 1px #4AABE2; }
th.thTop	 { border-left: solid 1px #4AABE2; border-top: solid 1px #4AABE2; }
th.thCornerL { border-left: solid 1px #4AABE2; border-top: solid 1px #4AABE2; border-bottom: solid 1px #10516F; border-right: solid 1px #10516F; }
th.thCornerR { border-left: solid 1px #4AABE2; border-top: solid 1px #4AABE2; border-bottom: solid 1px #10516F; border-right: solid 1px #10516F; }

th.thCornerL2 { border-left: solid 1px #4AABE2; border-top: solid 1px #4AABE2; border-bottom: solid 1px #10516F; }
th.thCornerL3 { border-top: solid 1px #4AABE2; border-bottom: solid 1px #10516F; }
th.thCornerR2 { border-top: solid 1px #4AABE2; border-bottom: solid 1px #10516F; border-right: solid 1px #10516F; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: Arial, Tahoma, Verdana, sans-serif;
			text-decoration: none; line-height : 120%; color : #000000;
}








.font1 { vertical-align:middle; font-weight:bold; color:#FFF; 
             padding:8px 0px 8px 5px; text-align:center; }
.font1 a:link, .font1  a:visited, .font1  a:active { text-decoration: none; color: #FFF; }
.font1 a:hover { text-decoration: underline ;color : #222222; }




.font2 { vertical-align:middle; color:#ABD7F3; 
             padding:8px 0px 8px 5px; text-align:center; }
.font2 a:link, .font2  a:visited, .font2  a:active { text-decoration: none; color: #ABD7F3; }
.font2 a:hover { text-decoration: underline ;color : #222222; }




.font3 { vertical-align:middle; font-weight:bold; color:#FFF; 
             padding:8px 0px 8px 5px; text-align:center; }
.font3 a:link, .font3  a:visited, .font3  a:active { text-decoration: none; color: #FFF; }
.font3 a:hover { text-decoration: underline ;color : #222222; }




.font4 { vertical-align:middle; font-weight:bold; color:#FFF; 
             padding:8px 0px 8px 5px; text-align:center; }
.font4 a:link, .font4  a:visited, .font4  a:active { text-decoration: none; color: #FFF; }
.font4 a:hover { text-decoration: underline ;color : #222222; }




.font5 { vertical-align:middle; font-weight:bold; color:#FFF; 
             padding:8px 0px 8px 5px; text-align:center; }
.font5 a:link, .font5  a:visited, .font5  a:active { text-decoration: none; color: #FFF; }
.font5 a:hover { text-decoration: underline ;color : #222222; }



.headerbg  { background-image: url(images/head_bg.gif); height: 6px; }



.forum1  { background-color: #166BA2; border-left: solid 1px #2193C8; border-top: solid 1px #2193C8;
           border-bottom: solid 1px #10516F; }

.forum2  { background-color: #166BA2; border-top: solid 1px #2193C8; border-bottom: solid 1px #10516F;
           border-right: solid 1px #10516F; }

.forum3  { background-color: #1A76AF; border-left: solid 1px #2193C8; border-top: solid 1px #2193C8; 
           border-right: solid 1px #10516F; }

.forum4  { background-color: #1A76AF; border-left: solid 1px #2193C8; border-top: solid 1px #2193C8; border-bottom: solid 1px #10516F;
            }

.forum5  { background-color: #166BA2; border-left: solid 1px #2193C8; border-top: solid 1px #2193C8;
           border-bottom: solid 1px #10516F; }
.forum6  { background-color: #1A76AF; border-bottom: solid 1px #10516F; border-right: solid 1px #10516F; }

.forum7  { background-color: #166BA2; border-left: solid 1px #2193C8; border-top: solid 1px #2193C8;
           border-bottom: solid 1px #10516F; border-right: solid 1px #10516F; }

.forum8  { background-color: #1A76AF; border-left: solid 1px #2193C8; border-top: solid 1px #2193C8;
           border-bottom: solid 1px #10516F; border-right: solid 1px #10516F; }

.forum9  { background-color: #125884; border-left: solid 1px #2193C8; border-top: solid 1px #2193C8;
           border-bottom: solid 1px #10516F; border-right: solid 1px #10516F; }


/* General text */
.gen { font-size : 11px; }
.gen a:link, .gen a:visited, .gen a:active { text-decoration: none; color : #000; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
.gensmall a:link, .gensmall a:visited, .gensmall a:active { text-decoration: none; color : #000000; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #ccc; text-decoration: none; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 10px; color : #000000; }
a.mainmenu		{ text-decoration: none; color : #006699;  }
.mainmenu a:link, .mainmenu a:visited, .mainmenu a:active { text-decoration: none; color : #000000; }
a.mainmenu:hover{ text-decoration: none; color : #444444; }

.menu		{ font-size : 10px; color : #000000; }
a.menu		{ text-decoration: none; color : #006699;  }
.menu a:link, .menu a:visited, .menu a:active { text-decoration: none; color : #000000; }
a.menu:hover{ text-decoration: none; color : #444444; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 11px ;  color : #38A1E3}
a.cattitle		{ text-decoration: none; color : #38A1E3; }
.cattitle a:link, .cattitle  a:visited, .cattitle  a:active { text-decoration: none; color: #B5DEF3 }
a.cattitle:hover{ text-decoration: none; color : #cccccc; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 10px; color : #ffffff; }
.forumlink a:link, .forumlink  a:visited, .forumlink  a:active { text-decoration: none; color: #FFF }
a.forumlink:hover{ text-decoration: underline; color : #666666; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000000;}
a.nav			{ text-decoration: none; color : #006699; }
.nav a:link, .nav  a:visited, .nav  a:active { text-decoration: none; color: #FFF }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */


.topictitle			{ font-weight: bold; font-size: 11px; color : #ffffff; }
a.topictitle:link   { text-decoration: none; color : #ffffff; }
a.topictitle:visited { text-decoration: none; color : #ffffff; }
a.topictitle:hover	{ text-decoration: underline; color : #666666; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #444444}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #FFFFFF;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	background-color : #FAFAFA;
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	background-color : #FAFAFA;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #1A76AF; border-style: none; }


/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");
