

<table width="100%" cellspacing="2" cellpadding="2" border="0">
  <tr> 
<td align="left" valign="middle" width="100%"><span class="nav">&nbsp;&nbsp;&nbsp;<a href="http://www.psyklone.net" class="nav">Back to Psyklone</a> <span class="nav">&raquo;</span>&nbsp;<a href="{U_INDEX}" class="nav">{L_INDEX}</a> 
	  -> <a href="{U_VIEW_FORUM}" class="nav">{FORUM_NAME}</a></span></td>
<td align="right" valign="bottom" nowrap="nowrap"><span class="nav"><a href="{U_POST_NEW_TOPIC}"><img src="{POST_IMG}" border="0" alt="{L_POST_NEW_TOPIC}" align="middle" /></a>&nbsp;&nbsp;&nbsp;<a href="{U_POST_REPLY_TOPIC}"><img src="{REPLY_IMG}" border="0" alt="{L_POST_REPLY_TOPIC}" align="middle" /></a></span></td>
	  </tr>
</table>

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<TABLE WIDTH="100%" CELLPADDING="2" CELLSPACING="0" BORDER="0"
	  CLASS="forumline">
<tr> 
	<th colspan="2" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="80%" nowrap="nowrap" align="left">&nbsp;<span class="forumlink"><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><span></th>
<th class="thCornerR2" width="20%" nowrap="nowrap" align="right">&nbsp;<span class="forumlink">{PAGINATION}</span>&nbsp;</th>
</tr>
</table>
</th>
  </tr>
	<tr align="right">
		<th class="thCornerL" colspan="2" height="28"><span class="nav"><a href="{U_VIEW_OLDER_TOPIC}" class="nav">{L_VIEW_PREVIOUS_TOPIC}</a> :: <a href="{U_VIEW_NEWER_TOPIC}" class="nav">{L_VIEW_NEXT_TOPIC}</a> &nbsp;</span></th>
	</tr>
	{POLL_DISPLAY} 
</table>
</TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>



	<!-- BEGIN postrow -->
<br />

<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<TABLE WIDTH="100%" CELLPADDING="2" CELLSPACING="0" BORDER="0"
	  CLASS="forumline"> 
		<TR> 
		  <TD WIDTH="150px" ALIGN="CENTER" VALIGN="MIDDLE"
			CLASS="forum8" ROWSPAN="2"><SPAN
			 CLASS="postdetails">{postrow.POSTER_AVATAR}</SPAN><IMG
			 SRC="templates/ThrillKill/images/spacer.gif" ALT="" WIDTH="1" HEIGHT="1"></TD> 
		  <TH CLASS="thCornerL" NOWRAP="nowrap" ALIGN="LEFT"> 
			 <TABLE CELLPADDING="0" CELLSPACING="0" WIDTH="100%"> 
				<TR> 
				  <TD ALIGN="LEFT"><SPAN CLASS="name"><A
					 NAME="{postrow.U_POST_ID}"></A><B>{postrow.POSTER_NAME}</B></SPAN></TD> 
				  <TD ALIGN="RIGHT">{postrow.QUOTE_IMG} {postrow.EDIT_IMG}
					 {postrow.DELETE_IMG} {postrow.IP_IMG}</TD> 
				</TR> 
			 </TABLE></TH> 
		</TR> 
		<TR> 
		  <TD CLASS="forum7" WIDTH="100%" HEIGHT="28" VALIGN="top"> 
			 <TABLE CELLPADDING="4" CELLSPACING="0"> 
				<TR> 
				  <TD CLASS="forum8"><SPAN
					 CLASS="font2"><strong>{postrow.POSTER_RANK}</strong>&nbsp;{postrow.RANK_IMAGE}<strong>&nbsp;&middot;&nbsp;{postrow.POSTER_JOINED}&nbsp;&middot;&nbsp;{postrow.POSTER_POSTS}&nbsp;&middot;&nbsp;{postrow.POSTER_FROM}<br />{postrow.CASH}<br /><a href="{postrow.ITEMSNAME}">Items</a>{postrow.ITEMS}</strong></SPAN></TD>
				  
				</TR> 
				<TR> 
				  <TD> 
					 <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" HEIGHT="18"
					  WIDTH="18"> 
						<TR> 
						  <TD VALIGN="middle" NOWRAP="nowrap"><A
							 HREF="{postrow.U_MINI_POST}"><IMG SRC="{postrow.MINI_POST_IMG}" WIDTH="12"
							 HEIGHT="9" ALT="{postrow.L_MINI_POST_ALT}" TITLE="{postrow.L_MINI_POST_ALT}"
							 BORDER="0"></A><STRONG><SPAN CLASS="postdetails">{L_POSTED}:
							 {postrow.POST_DATE}<SPAN CLASS="gen">&nbsp;</SPAN>&nbsp;
							 &nbsp;{L_POST_SUBJECT}: {postrow.POST_SUBJECT}</SPAN></STRONG></TD> 
						</TR> 
					 </TABLE></TD> 
				</TR> 
			 </TABLE></TD> 
		</TR> 
		<TR> 
		  <TD CLASS="forum8" HEIGHT="1" COLSPAN="2"><IMG
			 SRC="templates/ThrillKill/images/spacer.gif" ALT="" WIDTH="1" HEIGHT="1"></TD> 
		</TR> 
		<TR> 
		  <TD CLASS="forum8" WIDTH="100%" HEIGHT="28" VALIGN="top" COLSPAN="2"> 
			 <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0"> 
				<TR> 
				  <TD COLSPAN="2"><SPAN
					 CLASS="postbody">{postrow.MESSAGE}{postrow.SIGNATURE}</SPAN><SPAN
					 CLASS="gensmall">{postrow.EDITED_MESSAGE}</SPAN></TD> 
				</TR> 
			 </TABLE></TD> 
		</TR> 
		<TR> 
		  <TH CLASS="thCornerL" WIDTH="100%" HEIGHT="28" VALIGN="middle"
			NOWRAP="nowrap" COLSPAN="2" ALIGN="CENTER"> 
			 <TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" HEIGHT="18"> 
				<TR> 
				  <TD VALIGN="middle" NOWRAP="nowrap" ALIGN="LEFT"><SPAN
					 CLASS="nav"><A HREF="#top"
					 CLASS="nav">{L_BACK_TO_TOP}</A></SPAN>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD> 
				  <TD VALIGN="middle" NOWRAP="nowrap"
					ALIGN="left">{postrow.PROFILE_IMG} {postrow.PM_IMG} {postrow.EMAIL_IMG}
					 {postrow.WWW_IMG} {postrow.AIM_IMG} {postrow.YIM_IMG} {postrow.MSN_IMG}<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript"><!-- 

	if ( navigator.userAgent.toLowerCase().indexOf('mozilla') != -1 && navigator.userAgent.indexOf('5.') == -1 && navigator.userAgent.indexOf('6.') == -1 )
		document.write(' {postrow.ICQ_IMG}');
	else
		document.write('</td><td>&nbsp;</td><td valign="top" nowrap="nowrap"><div style="position:relative"><div style="position:absolute">{postrow.ICQ_IMG}</div><div style="position:absolute;left:3px;top:-1px">{postrow.ICQ_STATUS_IMG}</div></div>');
				
			
					
					
					 //--></SCRIPT> 
					 <NOSCRIPT> 
						<P>{postrow.ICQ_IMG}</P></NOSCRIPT></TD> 
				</TR> 
			 </TABLE></TH> 
		</TR> 
	 </TABLE>
</TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>


<!-- END postrow -->

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
  <tr> 
      <td align="left" valign="middle" width="100%"><span class="nav">&nbsp;&nbsp;&nbsp;<a href="{U_INDEX}" class="nav">{L_INDEX}</a> 
	  -> <a href="{U_VIEW_FORUM}" class="nav">{FORUM_NAME}</a></span></td>
	<td align="right" valign="middle" nowrap="nowrap"><span class="nav"><a href="{U_POST_NEW_TOPIC}"><img src="{POST_IMG}" border="0" alt="{L_POST_NEW_TOPIC}" align="middle" /></a>&nbsp;&nbsp;&nbsp;<a href="{U_POST_REPLY_TOPIC}"><img src="{REPLY_IMG}" border="0" alt="{L_POST_REPLY_TOPIC}" align="middle" /></a></span></td>
	  </tr>
  </table>

<br />


<TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_1.gif"
					 WIDTH="230" HEIGHT="56"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_1a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_2.gif"
					 WIDTH="237" HEIGHT="56"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_3.gif"><IMG
					 SRC="templates/ThrillKill/images/m_3.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				  <TD WIDTH="100%" BGCOLOR="#1C7BB5" COLSPAN="2">
<TABLE WIDTH="100%" CELLPADDING="2" CELLSPACING="0" BORDER="0"
	  CLASS="forumline">
<tr> 
	<th colspan="2" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="80%" nowrap="nowrap" align="left">&nbsp;<span class="forumlink">{PAGE_NUMBER}<span></th>
<th class="thCornerR2" width="20%" nowrap="nowrap" align="right">&nbsp;<span class="forumlink">{PAGINATION}</span>&nbsp;</th>
</tr>
</table>
</th>
  </tr>
	<tr align="right">
		<th class="thCornerL" colspan="2" height="28"><span class="nav"><a href="{U_VIEW_OLDER_TOPIC}" class="nav">{L_VIEW_PREVIOUS_TOPIC}</a> :: <a href="{U_VIEW_NEWER_TOPIC}" class="nav">{L_VIEW_NEXT_TOPIC}</a> &nbsp;</span></th>
	</tr>
<tr> 
	<th colspan="2" class="thCornerL" height="25" nowrap="nowrap" width="100%" align="left"><table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr >
<th class="thCornerL2" width="98%" nowrap="nowrap" align="left">&nbsp;<span class="forumlink">Choose Display Order</span></th>
<th class="thCornerR2" width="2%" nowrap="nowrap">&nbsp;</th>
</tr>
</table>
</th>
  </tr>


  <tr>
	<td class="forum7" colspan="2" height="28"><table cellspacing="0" cellpadding="0" border="0">
			<tr><form method="post" action="{S_POST_DAYS_ACTION}">
				<td align="center"><span class="gensmall">{L_DISPLAY_POSTS}: {S_SELECT_POST_DAYS}&nbsp;{S_SELECT_POST_ORDER}&nbsp;<input type="submit" value="{L_GO}" class="liteoption" name="submit" /></span></td>
			</form></tr>
		</table></td>

  </tr>
<tr> 
	<th class="thCornerL" colspan="2" height="28" align="left"><span class="forumlink">User Permissions</span></th>
  </tr>

  <tr> 
      <td align="left" class="forum7" colspan="2"width="60%"><span class="gensmall">{S_AUTH_LIST}</span></td>
  </tr>

</table>
</TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_4.gif"><IMG
					 SRC="templates/ThrillKill/images/m_4.gif" WIDTH="49"
					 HEIGHT="1"></TD> 
				</TR> 
			 </TABLE> 
			 <TABLE BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="CENTER"> 
				<TR> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_5.gif"
					 WIDTH="229" HEIGHT="52"></TD> 
				  <TD
					BACKGROUND="templates/ThrillKill/images/m_5a.gif"
					WIDTH="100%"></TD> 
				  <TD><IMG
					 SRC="templates/ThrillKill/images/m_6.gif"
					 WIDTH="238" HEIGHT="52"></TD> 
				</TR> 
			 </TABLE>




<table width="100%" cellspacing="2" border="0" align="center">
  <tr> 
	<td width="40%" valign="top" nowrap="nowrap" align="left"><span class="gensmall">{S_WATCH_TOPIC}</span><br />
	  &nbsp;<br />
	  {S_TOPIC_ADMIN}</td>
	<td align="right" valign="top" nowrap="nowrap">{JUMPBOX}</td>
  </tr>
</table>
